.quiz-section img {
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
}



.quiz-section {
    width: 260px;
    height: 350px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    /* justify-content: center; */
}

.start-btn {
    border: 2px solid rgb(226, 202, 202);
    width: 120px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgb(178, 43, 190);
    color: antiquewhite;
    text-align: center;
}